################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Laboratory/FileContentIndex/e45e6eac-611c-4f55-90c6-8c20411d0227.vsidx
/.vs/Laboratory/FileContentIndex/6bc38d92-e17d-4df7-af07-6d340da41dd9.vsidx
*.vsidx
